<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>  CMRA| <%= title %> </title>
  <link rel="stylesheet" href="/style.css">

</head>
<body>
 
  <%- include('partials/messages'); -%>

  <div class="background">
    <div class="shape"></div>
      <div class="shape"></div>
        </div>        
        <h1>Course Material Repositry App</h1>
        
        <form action="/signup" method="POST"> 
          <div class="form-group">            
            <h2> Create your new password </h2>
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            name="password" 
            placeholder="Enter Password" 
            autocomplete="off"          
          value="<%= typeof password != 'undefined' ? password : '' %>"
          />    
        </div>         
         <div class="form-group">            
           <label for="password2">Password</label>
          <input 
          type="password" 
          id="password2" 
          name="password2" 
          placeholder="Confirm Password" 
          autocomplete="off"          
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          /> 
        </div>                        
            <button type="submit"> submit </button>
           </form>
            <%- include ('./partials/footer') %>
         
  </form>
</body>
</html>